.movies{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    padding:24px;
    overflow-y: scroll;
    max-height: 90vh;
    .card{
        margin-right: 24px;
        margin-top: 24px;
    }
}